.bg-home{
    background-image: url("../images/portfolio-classic-bg.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40%;
}

.margin_bottom{
    margin-bottom: 0px !important;
}

nav{
    background-color: #00acc1 !important;
}

footer{
    background-color: #00acc1 !important;
}

.msg {
    border: 1px solid;
    padding:10px;
    margin: 20px;
    color: grey;
}
.msg-error {
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
}
.msg-alert {
    border-color: #ef6c00;
    background-color: #ff9800;
    color: white;
}

.msg-info{
    border-color: #0288d1;
    background-color: #29b6f6;
    color: white;
}

.msg-valid {
    border-color: #43a047;
    background-color:#43a047;
    color: white;
}

.margeP{
    margin-top: 0 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 0 !important;
}

.imageArticle{
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
}

.imageArticleIndex{
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40%;
}

.bold{
    font-weight: bold;
}

.block-ellipsis{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3rem;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-top{
    margin-top: 10px;
}

.pre-line{
    margin-top: -20px;
    white-space: pre-line;
}